<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{public/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{public/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{public/js/bootstrap.min.js}"></script>
    <link th:href="@{public/css/style.css}" rel="stylesheet" media="screen"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <div class="logo">LOGO<span class="blue-text">TYPE</span></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNavDropdown" class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/fields">Fields</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/responses">Responses</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active blue" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            [[${user.firstName}]] [[${user.lastName}]]
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/profile">Edit Profile</a>
                            <a class="dropdown-item" href="/password">Change Password</a>
                            <a class="dropdown-item" href="/logout" >Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container main-container">
        <div class="login-form-container">
            <div class="login-form-div">
                <div class="title">Change Password</div>
                <div th:if="${param.error1}" class="error">Invalid current password.</div>
                <div th:if="${param.error2}" class="error">Password must match.</div>
                <form th:action="@{/password}" method="post">
                    <div>
                        <p class="label-required">Current Password</p>
                        <input type="password" class="form-control" name="currentPassword" required/>
                    </div>
                    <div>
                        <p class="label-required">New Password</p>
                        <input type="password" class="form-control" name="newPassword1" required/>
                    </div>
                    <div>
                        <p class="label-required">Confirm New Password</p>
                        <input type="password" class="form-control" name="newPassword2" required/>
                    </div>
                    <div>
                        <input type="submit" value="CHANGE" class="btn btn-primary login-form-submit-button">
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>